<div class="container">
  <h1>MMMmmmmmmm... Burgers!!!</h1>
  
  <div class="row">
    <div class="col-sm-4" id="uneaten-burgers">
      <h2>Uneaten Burgers</h2>

      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            <li>
              {{burger_name}}
              <br>
              <button class="change-devoured" data-id="{{id}}">
                Devour it!
              </button>
              <br><br>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    
    <div class="col-sm-4">
      <h1>Add a Burger</h1>
      <img src="/assets/img/burger.png">
      <br><br>
      <form class="create-form">
        <div class="form-group">
          <label for="new-burger">Burger Name:</label>
          <input type="text" id="new-burger" name="name">
        </div>

        <button type="submit">Add Burger</button>
      </form>
    </div>

    <div class="col-sm-4" id="devoured-burgers">
      <h2>Devoured Burgers</h2>
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            <ul>
              <li>{{burger_name}}</li>
            </ul>
          {{/if}}
        {{/each}}
      </ul>
    </div>
</div>